@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My First DOTNET App Yahoooooo!!!!!</h1>
    <h3> I made a small change</h3>
    <h2> Another change to check Github desktop</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
